body {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
	background-color: #33e0ff;
        background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production 
}
n1, n2, n3, n4, n5, n6, .n1, .n2, .n3, .n4, .n5, .n6 {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none; 
}
.subheading{
	font-family: 'Noto Sans TC', sana-serif;
	text-transform: none;      
}
h1, h2, h3, h4, h5, h6{
  text-transform: none;
}
.text-primary {
    color: #ADD8E6 !important;
}
a {
    color: #ADD8E6;
}
.bg-primary {
   background-color: #002970;
   background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
   /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
