p.123{
	background-color: whitesmoke;
    width: 227px;
    font-size: 2.25rem;
    padding-left: 0.5%;
    border-style: inset;
}
span.text-primary{
	padding-left: 5%
}
img{
	width: 30%;
}
p.567{
    font-size: 1.95rem;	
	margin-top: 5rem;
}
p.1{
	font-size: 2rem;
}
p.2{
	font-size: 1.5rem;
	margin-top: 5rem;
}
div.subheading.mb-3{
	margin-top: 5rem;
}
td.1{
	font-size: 3.5rem;
	width: 12.5%;
	padding-left: 1.25%;
	background-color: #E6E6FA;
}
td{
	background-color: #CCCCFF;
}
h2.1018"mb-5"{
	margin-bottom: 6rem;
}
p.3{
	font-size: 2rem;
	margin-top: 5rem;
}
img.1{
	width: 30%;
	float: right;
	position: relative;
	bottom: 150px;
	right: 300px;
}img.2{
	width: 30%;
	float: right;
	position: relative;
	left: 350px;
	bottom: 40px;
}
img.3{
	width: 30%;
	float: right;
	position: relative;
    right: 250px;
}