p.123{
	background-color: whitesmoke;
    width: 227px;
    font-size: 2.25rem;
    padding-left: 0.5%;
    border-style: inset;
}
span.text-primary{
	padding-left: 5%
}
img{
	width: 30%;
}
p.567{
    font-size: 1.95rem;	
	margin-top: 5rem;
}
p.1{
	font-size: 2rem;
}
